<nav class="w-full flex items-center justify-between px-6 py-3 bg-gray-600 shadow-lg">
  
    <div class="flex items-center space-x-4">
      <img
        src="https://thumbs.dreamstime.com/b/cute-robot-doctor-scientific-technologies-health-concept-ai-medicine-medical-chatbot-176130423.jpg"
        alt="HealthAssist AI" class="h-12 w-12 rounded-full shadow-md">
        <a routerLink="/" class="text-2xl font-bold bg-gradient-to-r from-red-500 to-green-300 bg-clip-text text-transparent">
          HealthAssist AI
        </a>
        
    </div>
 <div class="gap-5 flex">
    <a routerLink="" class="text-lg text-black font-semibold hover:text-green-400">Home</a>
    <a routerLink="about" class="text-lg text-black font-semibold hover:text-green-400">About</a>
    <a routerLink="Contact"  class="text-lg text-black font-semibold hover:text-green-400">Contact</a>
  </div>
  </nav>